.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #014E56;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.container-small {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2.4rem;
  padding: 1rem 3.3rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.btn--bottom {
  border: 2px solid #012F34;
  color: #012F34;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

@media only screen and (max-width: 600px) {
  .btn--bottom {
    margin-right: 8rem;
  }
}

@media only screen and (max-width: 900px) {
  .btn--bottom {
    margin-right: 8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .btn--bottom {
    margin-right: 8rem;
  }
}

@media only screen and (min-width: 1920px) {
  .btn--bottom {
    margin-right: 8rem;
  }
}

.herro {
  position: relative;
}

.header {
  min-height: 70rem;
  padding-top: 73px;
  background-image: url(../../images/herro.img.1.png), url(../../images/herro.img.2.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem, 35.8rem 10rem;
  background-position: 0 50%, right 16.5rem bottom 0%;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 55.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    height: 55.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    height: 55.6rem;
  }
}

@media only screen and (min-width: 1920px) {
  .header {
    height: 55.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    background-image: none, url(../../images/herro.img.2.png);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    background-image: none, url(../../images/herro.img.2.png);
    background-position: center bottom;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    background-image: none, url(../../images/herro.img.2.png);
    background-position: center bottom;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    background-image: none, url(../../images/herro.img.2.png);
    background-position: center bottom;
  }
}

@media only screen and (min-width: 1920px) {
  .header {
    background-image: none, url(../../images/herro.img.2.png);
    background-position: center bottom;
  }
}

.header--block2 {
  min-height: 51.7rem;
}

.nav__logo {
  margin-right: 8rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1920px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list--last {
  margin-top: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .list--last {
    margin-top: 5.3rem;
  }
}

@media only screen and (max-width: 900px) {
  .list--last {
    margin-top: 5.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .list--last {
    margin-top: 5.3rem;
  }
}

@media only screen and (min-width: 1920px) {
  .list--last {
    margin-top: 5.3rem;
  }
}

.list__item:not(:last-child) {
  margin-right: 4rem;
}

@media only screen and (max-width: 600px) {
  .list__item--grand1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .list__item--grand1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .list__item--grand1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  .list__item--grand1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .list__item--grand2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .list__item--grand2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .list__item--grand2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  .list__item--grand2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.list__link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1920px) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.heading--post {
  margin-top: 12rem;
}

.heading-section {
  margin-top: 13.3rem;
  margin-top: 0;
}

.heading--dont {
  margin-top: 12.9rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading__left {
  font-weight: bold;
  font-size: 10rem;
  line-height: 10rem;
  color: #FFFFFF;
  width: 55rem;
}

@media only screen and (max-width: 600px) {
  .heading__left {
    margin-top: 11.2rem;
    width: 35.3rem;
    font-size: 6.4rem;
    line-height: 5.6rem;
    margin-bottom: 2.4rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading__left {
    margin-top: 11.2rem;
    width: 35.3rem;
    font-size: 6.4rem;
    line-height: 5.6rem;
    margin-bottom: 2.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .heading__left {
    margin-top: 11.2rem;
    width: 35.3rem;
    font-size: 6.4rem;
    line-height: 5.6rem;
    margin-bottom: 2.4rem;
  }
}

@media only screen and (min-width: 1920px) {
  .heading__left {
    margin-top: 11.2rem;
    width: 35.3rem;
    font-size: 6.4rem;
    line-height: 5.6rem;
    margin-bottom: 2.4rem;
  }
}

.heading h1 {
  margin: 0;
}

.heading__left--touch {
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  .heading__left--touch {
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
  }
}

@media only screen and (max-width: 900px) {
  .heading__left--touch {
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
  }
}

@media only screen and (max-width: 1200px) {
  .heading__left--touch {
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
  }
}

@media only screen and (min-width: 1920px) {
  .heading__left--touch {
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
  }
}

.heading__span {
  color: #F67E7E;
}

.heading__line {
  width: 5rem;
  height: 4px;
  background: #79C8C7;
}

@media only screen and (max-width: 600px) {
  .heading__line--break {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .heading__line--break {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .heading__line--break {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .heading__line--break {
    display: none;
  }
}

.heading__line--red {
  background: #F67E7E;
}

@media only screen and (max-width: 600px) {
  .heading__line--red {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .heading__line--red {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .heading__line--red {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .heading__line--red {
    display: none;
  }
}

.heading__line--last {
  background: #F67E7E;
}

.heading__text {
  margin-top: 7.9rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  width: 44.5rem;
}

@media only screen and (max-width: 600px) {
  .heading__text {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: center;
    width: 45.7rem;
    margin-top: 2.4rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading__text {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: center;
    width: 45.7rem;
    margin-top: 2.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .heading__text {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: center;
    width: 45.7rem;
    margin-top: 2.4rem;
  }
}

@media only screen and (min-width: 1920px) {
  .heading__text {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.8rem;
    text-align: center;
    width: 45.7rem;
    margin-top: 2.4rem;
  }
}

.heading__text--and {
  width: 73rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  .heading__text--and {
    width: 45.7rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading__text--and {
    width: 45.7rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .heading__text--and {
    width: 45.7rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}

@media only screen and (min-width: 1920px) {
  .heading__text--and {
    width: 45.7rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
}

.header--block2 {
  background-image: none;
}

.header--block2 {
  background-image: url(../../images/2000.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem;
  background-position: right bottom;
}

.footer {
  width: 100%;
  height: 19.6rem;
  background: #002529;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: 27.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    height: 27.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    height: 27.1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .footer {
    height: 27.1rem;
  }
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4.8rem;
}

.footer-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .footer-first {
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 900px) {
  .footer-first {
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-first {
    margin-bottom: 7rem;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-first {
    margin-bottom: 7rem;
  }
}

.footer-second {
  margin-left: 12.5rem;
}

@media only screen and (max-width: 600px) {
  .footer-second {
    width: 28rem;
    text-align: right;
    margin-right: 0;
    position: relative;
  }
}

@media only screen and (max-width: 900px) {
  .footer-second {
    width: 28rem;
    text-align: right;
    margin-right: 0;
    position: relative;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-second {
    width: 28rem;
    text-align: right;
    margin-right: 0;
    position: relative;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-second {
    width: 28rem;
    text-align: right;
    margin-right: 0;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .footer-flash {
    position: absolute;
    right: -13.8rem;
    top: -96px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-flash {
    position: absolute;
    right: -13.8rem;
    top: -96px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-flash {
    position: absolute;
    right: -13.8rem;
    top: -96px;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-flash {
    position: absolute;
    right: -13.8rem;
    top: -96px;
  }
}

.footer__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  mix-blend-mode: normal;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .footer__gold {
    width: 9.5rem;
    height: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .footer__gold {
    width: 9.5rem;
    height: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .footer__gold {
    width: 9.5rem;
    height: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1920px) {
  .footer__gold {
    width: 9.5rem;
    height: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__images {
  margin-left: 1.6rem;
}

.footer__images--dark {
  margin-left: 0;
}

.footer-backs--git {
  width: 26rem;
}

@media only screen and (max-width: 600px) {
  .footer-backs--git {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 900px) {
  .footer-backs--git {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-backs--git {
    position: relative;
    right: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-backs--git {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .footer-back--turk {
    position: absolute;
    right: 0rem;
    margin-top: 157px;
    width: 26rem;
  }
}

@media only screen and (max-width: 900px) {
  .footer-back--turk {
    position: absolute;
    right: 0rem;
    margin-top: 157px;
    width: 26rem;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-back--turk {
    position: absolute;
    right: 0rem;
    margin-top: 157px;
    width: 26rem;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-back--turk {
    position: absolute;
    right: 0rem;
    margin-top: 157px;
    width: 26rem;
  }
}

.footer-backs {
  text-decoration: none;
  list-style: none;
  padding-top: 5.1rem;
}

@media only screen and (max-width: 600px) {
  .footer-backs {
    padding-top: 15.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .footer-backs {
    padding-top: 15.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-backs {
    padding-top: 15.1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-backs {
    padding-top: 15.1rem;
  }
}

.footer-back {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 600px) {
  .footer-img {
    position: relative;
  }
}

@media only screen and (max-width: 900px) {
  .footer-img {
    position: relative;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-img {
    position: relative;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-img {
    position: relative;
  }
}

.footer-head {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .footer-head {
    position: absolute;
    left: -682px;
    top: 160px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-head {
    position: absolute;
    left: -682px;
    top: 160px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-head {
    position: absolute;
    left: -682px;
    top: 160px;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-head {
    position: absolute;
    left: -682px;
    top: 160px;
  }
}

.footer-head--9 {
  margin-bottom: 55px;
}

.footer-head--test {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .footer-head--test {
    position: absolute;
    left: -428px;
    top: 144px;
  }
}

@media only screen and (max-width: 900px) {
  .footer-head--test {
    position: absolute;
    left: -428px;
    top: 144px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-head--test {
    position: absolute;
    left: -428px;
    top: 144px;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-head--test {
    position: absolute;
    left: -428px;
    top: 144px;
  }
}

.footer .container {
  position: relative;
}

.btn--top:hover {
  background-color: #fff;
  color: #014E56;
}

.btn--top:active {
  background-color: #014E56;
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid #2C6269;
}

.btn--bottom:hover {
  background: #79C8C7;
}

.btn--bottom:active {
  background: rgba(128, 142, 155, 0.2);
}

.btn__images:hover {
  background: #F67E7E;
}

.list__link:hover {
  color: #F67E7E;
}

.meet__list:hover {
  background-color: #79C8C7;
}

.start {
  width: 100%;
  height: 20rem;
  background: #F67E7E;
  background-image: url(../../images/789.png);
  background-repeat: no-repeat;
  background-size: 20rem 11.5rem;
  background-position: bottom 0 left 0;
}

.start-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
}

.start__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

@media only screen and (max-width: 600px) {
  .start__heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 900px) {
  .start__heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .start__heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 8rem;
  }
}

@media only screen and (min-width: 1920px) {
  .start__heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 8rem;
  }
}

.class {
  width: 100%;
  height: 43.7rem;
  background: #012F34;
  background-image: url(../../images/98.png);
  background-size: 20rem 20rem;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .class {
    background-image: url(../../images/8833.png);
    background-size: 20rem 10rem;
    background-repeat: no-repeat;
    height: 30.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .class {
    background-image: url(../../images/8833.png);
    background-size: 20rem 10rem;
    background-repeat: no-repeat;
    height: 30.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class {
    background-image: url(../../images/8833.png);
    background-size: 20rem 10rem;
    background-repeat: no-repeat;
    height: 30.8rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class {
    background-image: url(../../images/8833.png);
    background-size: 20rem 10rem;
    background-repeat: no-repeat;
    height: 30.8rem;
  }
}

.class-top {
  margin-top: 6.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.class__heading {
  margin-top: 14rem;
}

@media only screen and (max-width: 600px) {
  .class__img {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .class__img {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class__img {
    margin-right: 4rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class__img {
    margin-right: 4rem;
  }
}

.class__img:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 600px) {
  .class__trek1 {
    width: 10.3rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 900px) {
  .class__trek1 {
    width: 10.3rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class__trek1 {
    width: 10.3rem;
    height: 1.7rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class__trek1 {
    width: 10.3rem;
    height: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .class__trek2 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .class__trek2 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class__trek2 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class__trek2 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .class__trek3 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .class__trek3 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class__trek3 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class__trek3 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .class__trek4 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .class__trek4 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class__trek4 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class__trek4 {
    width: 10.3rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .class__trek5 {
    width: 8rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .class__trek5 {
    width: 8rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .class__trek5 {
    width: 8rem;
    height: 2rem;
  }
}

@media only screen and (min-width: 1920px) {
  .class__trek5 {
    width: 8rem;
    height: 2rem;
  }
}

.main {
  width: 100%;
  height: 68.4rem;
  background: #012F34;
}

@media only screen and (max-width: 600px) {
  .main {
    height: 71rem;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    height: 71rem;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    height: 71rem;
  }
}

@media only screen and (min-width: 1920px) {
  .main {
    height: 71rem;
  }
}

.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .main-top {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .main-top {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .main-top {
    display: block;
  }
}

@media only screen and (min-width: 1920px) {
  .main-top {
    display: block;
  }
}

.main-left {
  margin-top: 14rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .main-left {
    margin-top: 10rem;
    display: inline-block;
  }
}

@media only screen and (max-width: 900px) {
  .main-left {
    margin-top: 10rem;
    display: inline-block;
  }
}

@media only screen and (max-width: 1200px) {
  .main-left {
    margin-top: 10rem;
    display: inline-block;
  }
}

@media only screen and (min-width: 1920px) {
  .main-left {
    margin-top: 10rem;
    display: inline-block;
  }
}

.main-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-rights--gold {
  margin-top: 19.8rem;
}

@media only screen and (max-width: 600px) {
  .main-rights--gold {
    margin-top: 6.4rem;
  }
}

@media only screen and (max-width: 900px) {
  .main-rights--gold {
    margin-top: 6.4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .main-rights--gold {
    margin-top: 6.4rem;
  }
}

@media only screen and (min-width: 1920px) {
  .main-rights--gold {
    margin-top: 6.4rem;
  }
}

.main-rights::before {
  content: "";
  display: inline-block;
  width: 7.2rem;
  height: 7.2rem;
  background-image: url("../../images/main-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2.3rem;
}

.main-rights--gold2::before {
  content: "";
  display: inline-block;
  width: 7.2rem;
  height: 7.2rem;
  background-image: url(../../images/main-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2.3rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.main-rights--gold3::before {
  content: "";
  display: inline-block;
  width: 7.2rem;
  height: 7.2rem;
  background-image: url(../../images/77777.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2.3rem;
}

.main__right {
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.main-right-2 {
  width: 445px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 1.6rem;
}

.main-heading {
  width: 44.5rem;
  margin-top: 5.4rem;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
  .main-heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .main-heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .main-heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

@media only screen and (min-width: 1920px) {
  .main-heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

.main {
  background-image: url(../../images/main-right.png);
  background-repeat: no-repeat;
  background-size: 10rem 24.4rem;
  background-position: right 0 bottom 0;
}

@media only screen and (max-width: 600px) {
  .main {
    background-position: right top;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    background-position: right top;
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    background-position: right top;
  }
}

@media only screen and (min-width: 1920px) {
  .main {
    background-position: right top;
  }
}

.meet {
  background: #004047;
  width: 100%;
  height: 1002px;
  background-image: url(../../images/1.png), url(../../images/2.png);
  background-size: 10rem 20rem, 14.7rem 10rem;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

@media only screen and (max-width: 600px) {
  .meet {
    height: 1219px;
  }
}

@media only screen and (max-width: 900px) {
  .meet {
    height: 1219px;
  }
}

@media only screen and (max-width: 1200px) {
  .meet {
    height: 1219px;
  }
}

@media only screen and (min-width: 1920px) {
  .meet {
    height: 1219px;
  }
}

@media only screen and (max-width: 600px) {
  .meet-part--1 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .meet-part--1 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-part--1 {
    margin-right: 1.1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-part--1 {
    margin-right: 1.1rem;
  }
}

.meet-part--1::before {
  content: "";
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  background-size: contain;
  background-image: url(../../images/page1.png);
  background-repeat: no-repeat;
}

.meet-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meet-part--2::before {
  content: "";
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  background-size: contain;
  background-image: url(../../images/page2.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .meet-part--3 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .meet-part--3 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-part--3 {
    margin-right: 1.1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-part--3 {
    margin-right: 1.1rem;
  }
}

.meet-part--3::before {
  content: "";
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  background-size: contain;
  background-image: url(../../images/page3.png);
  background-repeat: no-repeat;
}

.meet-repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meet__tablet {
  list-style: none;
}

.meet-part--4::before {
  content: "";
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  background-size: contain;
  background-image: url(../../images/page4.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

.meet-part--5::before {
  content: "";
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  background-size: contain;
  background-image: url(../../images/page5.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-part--5 {
    margin-right: 1.1rem;
  }
}

.meet-part--6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.meet-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .meet-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .meet-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.meet-part {
  margin-top: 6.4rem;
  width: 35rem;
  height: 25.3rem;
  background: #012F34;
  padding: 3rem 2.4rem 5.6rem 2.4rem;
}

@media only screen and (max-width: 600px) {
  .meet-part {
    width: 28.1rem;
    height: 25.3rem;
  }
}

@media only screen and (max-width: 900px) {
  .meet-part {
    width: 28.1rem;
    height: 25.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-part {
    width: 28.1rem;
    height: 25.3rem;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-part {
    width: 28.1rem;
    height: 25.3rem;
  }
}

.meet-part--6 {
  background: #002529;
}

.meet-heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #FFFFFF;
  padding-top: 14rem;
}

@media only screen and (max-width: 600px) {
  .meet-heading {
    font-size: 32px;
    line-height: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 900px) {
  .meet-heading {
    font-size: 32px;
    line-height: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 1200px) {
  .meet-heading {
    font-size: 32px;
    line-height: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10rem;
  }
}

@media only screen and (min-width: 1920px) {
  .meet-heading {
    font-size: 32px;
    line-height: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10rem;
  }
}

.meet-ul {
  position: relative;
}

.meet__list {
  list-style: none;
  width: 5.6rem;
  height: 5.6rem;
  left: calc(50% - 56px/2);
  top: calc(50% - 56px/2 + 112.5px);
  background: #F67E7E;
  border-radius: 50%;
  padding-right: 3px;
  padding-top: 2px;
  position: absolute;
  top: 2.5rem;
}

.meet__list--last {
  position: absolute;
  top: 5.3rem;
  -webkit-transform: rotate(89deg);
          transform: rotate(89deg);
}

.meet__plus {
  text-decoration: none;
  font-size: 3.1rem;
  line-height: 8.6rem;
  left: calc(50% - 4px/2 + 10px);
  top: calc(50% - 16px/2 + 118.5px);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #002529;
  font-weight: bold;
}

.meet__plus--tareta {
  font-weight: bold;
  width: 58.6px;
  height: 98.6px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  left: calc(50% - 4px/2 + 10px);
  top: calc(50% - 16px/2 + 118.5px);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meet__repo1 {
  margin-right: 1.6rem;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74.5rem;
  width: 100%;
  background-image: url(../../images/12.png), url(../../images/1234.png);
  background-repeat: no-repeat;
  background-size: 14.7rem 10rem, 20rem 10rem;
  background-position: left top, right bottom;
}

@media only screen and (max-width: 600px) {
  .new {
    height: 1199px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .new {
    height: 1199px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  .new {
    height: 1199px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1920px) {
  .new {
    height: 1199px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.new-tops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .new-tops {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .new-tops {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .new-tops {
    display: block;
  }
}

@media only screen and (min-width: 1920px) {
  .new-tops {
    display: block;
  }
}

.new-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .new-page {
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 900px) {
  .new-page {
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .new-page {
    margin-bottom: 8rem;
  }
}

@media only screen and (min-width: 1920px) {
  .new-page {
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .new-page--sass {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 900px) {
  .new-page--sass {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .new-page--sass {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .new-page--sass {
    margin-bottom: 0;
  }
}

.new__content {
  margin-top: 3.2rem;
}

@media only screen and (max-width: 600px) {
  .new__content {
    margin-top: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .new__content {
    margin-top: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .new__content {
    margin-top: 1.6rem;
  }
}

@media only screen and (min-width: 1920px) {
  .new__content {
    margin-top: 1.6rem;
  }
}

.new__name2--meet9 {
  width: 20rem;
  margin-top: 8px;
  margin-bottom: 2.4rem;
  text-align: center;
  line-height: 2.9rem;
}

.new-heading {
  width: 95.2rem;
  margin-top: 14rem;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .new-heading {
    font-size: 3.9rem;
    line-height: 3.2rem;
    width: 57.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    margin-top: 11rem;
  }
}

@media only screen and (max-width: 900px) {
  .new-heading {
    font-size: 3.9rem;
    line-height: 3.2rem;
    width: 57.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    margin-top: 11rem;
  }
}

@media only screen and (max-width: 1200px) {
  .new-heading {
    font-size: 3.9rem;
    line-height: 3.2rem;
    width: 57.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    margin-top: 11rem;
  }
}

@media only screen and (min-width: 1920px) {
  .new-heading {
    font-size: 3.9rem;
    line-height: 3.2rem;
    width: 57.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    margin-top: 11rem;
  }
}

.new-span {
  color: #C4FFFE;
}

.new-tops {
  margin-top: 9.2rem;
}

.new__text {
  width: 35rem;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 600px) {
  .new__text {
    width: 57.3rem;
  }
}

@media only screen and (max-width: 900px) {
  .new__text {
    width: 57.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .new__text {
    width: 57.3rem;
  }
}

@media only screen and (min-width: 1920px) {
  .new__text {
    width: 57.3rem;
  }
}

.new__text--and {
  width: 730px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.new__name {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #79C8C7;
  margin-top: 2.2rem;
  margin-bottom: 2px;
}

.new__name2 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}

.new__name2--meet {
  line-height: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new__name--meet {
  margin-top: 1.6rem;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-page::before {
  content: "";
  display: inline-block;
  width: 6.7rem;
  height: 5.6rem;
  background-image: url(../../images/new.before.svg);
  background-size: 6.7rem 5.6rem;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: -3.6rem;
  right: 15rem;
}

@media only screen and (max-width: 600px) {
  .new-page::before {
    right: 32rem;
  }
}

@media only screen and (max-width: 900px) {
  .new-page::before {
    right: 32rem;
  }
}

@media only screen and (max-width: 1200px) {
  .new-page::before {
    right: 32rem;
  }
}

@media only screen and (min-width: 1920px) {
  .new-page::before {
    right: 32rem;
  }
}
/*# sourceMappingURL=main.css.map */