.herro {
    position: relative;
}

.header {
    min-height: 70rem;
    padding-top: 73px;

    background-image: url(../../images/herro.img.1.png), url(../../images/herro.img.2.png);
    background-repeat: no-repeat;
    background-size: 10rem 20rem, 35.8rem 10rem;
    background-position: 0 50%, right 16.5rem bottom 0%;


    @media only screen and (max-width: 900px) {
        background-image: none, url(../../images/herro.img.2.png);
    }

    @include respond (tablets) {
        background-image: none, url(../../images/herro.img.2.png);
        background-position: center bottom;
    }
}

.header--block2 {
    min-height: 51.7rem;
}

.nav {
    @extend %flexCenter;

    &__logo {
        margin-right: 8rem;

    }

}

.list {
    display: flex;
    list-style: none;

    @include respond(tablets) {
        display: flex;
        align-items: center;
    }


    &--last {
        margin-top: 2.5rem;

        @include respond(tablets) {
            margin-top: 5.3rem;
        }

    }

    &__item {
        &:not(:last-child) {
            margin-right: 4rem;
        }

    }

    &__item--grand1 {
        @include respond(tablets) {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

    &__item--grand2 {
        @include respond(tablets) {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }


    &__link {
        text-decoration: none;
        color: inherit;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #FFFFFF;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;


    @include respond(tablets) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    &--post {
        margin-top: 12rem;
    }

    &__left {
        margin-top: 13.3rem;
        font-weight: bold;
        font-size: 10rem;
        line-height: 10rem;
        color: #FFFFFF;
        width: 55rem;

        @include respond(tablets) {
            margin-top: 11.2rem;
            width: 35.3rem;
            font-size: 6.4rem;
            line-height: 5.6rem;
            margin-bottom: 2.4rem;
        }
    }



    &__left--touch {
        margin-top: 0;
        font-size: 64px;
        line-height: 100px;
        color: #FFFFFF;
    }

    &__span {
        color: #F67E7E;
    }

    &__line {
        width: 5rem;
        height: 4px;
        background: #79C8C7;

    }

    &__line--break {

        @include respond(tablets) {
            display: none;
        }
    }

    &__line--red {
        background: #F67E7E;
    }


    &__line--last {
        background: #F67E7E;
    }

    &__text {
        margin-top: 7.9rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.8rem;
        width: 44.5rem;

        @include respond(tablets) {
            margin-top: 0;
            font-size: 1.5rem;
            line-height: 2.8rem;
            text-align: center;
            width: 45.7rem;
        }
    }


    &__text--and {
        width: 73rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #FFFFFF;
    }
}

.header--block2 {
    background-image: none;
}

.header--block2 {
    background-image: url(../../images/2000.png);
    background-repeat: no-repeat;
    background-size: 10rem 20rem;
    background-position: right bottom;
}