.main {
    width: 100%;
    height: 68.4rem;
    background: #012F34;

    @include respond(tablets) {
        height: 71rem;
    }

    &-top {
        display: flex;
        justify-content: space-between;

        @include respond(tablets) {
            display: block;
        }
    }

    &-left {
        margin-top: 14rem;
        justify-content: space-between;

        @include respond(tablets) {
            margin-top: 10rem;
            display: inline-block;
        }
    }

    &-rights {
        display: flex;
        align-items: center;


    }

    &-rights--gold {
        margin-top: 19.8rem;

        @include respond(tablets) {
            margin-top: 6.4rem;
        }
    }

    &-rights::before {
        content: "";
        display: inline-block;
        width: 7.2rem;
        height: 7.2rem;
        background-image: url(../../images/main-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 2.3rem;
    }

    &-rights--gold2::before {
        content: "";
        display: inline-block;
        width: 7.2rem;
        height: 7.2rem;
        background-image: url(../../images/main-2.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 2.3rem;
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;
    }

    &-rights--gold3::before {
        content: "";
        display: inline-block;
        width: 7.2rem;
        height: 7.2rem;
        background-image: url(../../images/77777.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 2.3rem;
    }

    &__right {
        font-size: 18px;
        line-height: 28px;
        color: #F67E7E;
    }

    &-right-2 {
        width: 445px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-top: 1.6rem;
    }

    &-heading {
        width: 44.5rem;
        margin-top: 5.4rem;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;

        @include respond(tablets) {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
    }


}

.main {
    background-image: url(../../images/main-right.png);
    background-repeat: no-repeat;
    background-size: 10rem 24.4rem;
    background-position: right 0 bottom 0;

    @include respond(tablets) {
        background-position: right top;
    }

}

.meet {
    background: $color-green-47;
    width: 100%;
    height: 1002px;

    background-image: url(../../images/1.png), url(../../images/2.png);
    background-size: 10rem 20rem, 14.7rem 10rem;
    background-repeat: no-repeat;
    background-position: left top, right bottom;

    @include respond(tablets) {
        height: 1219px;
    }

    &-part--1::before {
        content: "";
        display: inline-block;
        width: 9.6rem;
        height: 9.6rem;
        background-size: contain;
        background-image: url(../../images/page1.png);
        margin-bottom: 1.6rem;
        margin-left: 9.9rem;
        background-repeat: no-repeat;

        @include respond(tablets) {
            margin-left: 6.9rem;
        }
    }

    &-part--1 {
        @include respond(tablets) {
            margin-right: 1.1rem;
        }
    }

    &-part--2::before {
        content: "";
        display: inline-block;
        width: 9.6rem;
        height: 9.6rem;
        background-size: contain;
        background-image: url(../../images/page2.png);
        margin-bottom: 1.6rem;
        margin-left: 9.9rem;
        background-repeat: no-repeat;

        @include respond(tablets) {
            margin-left: 7.3rem;
        }
    }


    &-part--3::before {
        content: "";
        display: inline-block;
        width: 9.6rem;
        height: 9.6rem;
        background-size: contain;
        background-image: url(../../images/page3.png);
        margin-bottom: 1.6rem;
        margin-left: 9.9rem;
        background-repeat: no-repeat;

        @include respond(tablets) {
            margin-left: 7.3rem;
        }
    }

    &-part--3 {
        @include respond(tablets) {
            margin-right: 1.1rem;
        }
    }

    &-repos {
        display: flex;
    }

    &__tablet {
        list-style: none;
    }

    &-part--4::before {
        content: "";
        display: inline-block;
        width: 9.6rem;
        height: 9.6rem;
        background-size: contain;
        background-image: url(../../images/page4.png);
        margin-bottom: 1.6rem;
        margin-left: 9.9rem;
        background-repeat: no-repeat;

        @include respond(tablets) {
            margin-left: 7.3rem;
        }
    }


    &-part--5::before {
        content: "";
        display: inline-block;
        width: 9.6rem;
        height: 9.6rem;
        background-size: contain;
        background-image: url(../../images/page5.png);
        margin-bottom: 1.6rem;
        margin-left: 9.9rem;
        background-repeat: no-repeat;

        @include respond(tablets) {
            margin-left: 7.3rem;
        }
    }

    &-part--5 {
        @include respond(tablets) {
            margin-right: 1.1rem;
        }
    }


    &-part--6 {
        flex-direction: column;
        display: flex;
        align-items: center;
        position: relative;
    }


    &-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @include respond(tablets) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    &-part {
        margin-top: 6.4rem;
        width: 35rem;
        height: 25.3rem;
        background: $color-green-34;
        padding: 3rem 2.4rem 5.6rem 2.4rem;

        @include respond(tablets) {
            width: 28.1rem;
            height: 25.3rem;
        }
    }

    &-part--6 {
        background: #002529;
    }

    &-heading {
        justify-content: center;
        font-size: 4.8rem;
        line-height: 4.8rem;
        text-align: center;
        color: #FFFFFF;
        padding-top: 14rem;

        @include respond(tablets) {
            font-size: 32px;
            line-height: 32px;
            flex-direction: column;
            display: flex;
            align-items: center;
            padding-top: 10rem;
        }
    }

    &-ul {
        position: relative;
    }

    &__list {
        list-style: none;
        width: 5.6rem;
        height: 5.6rem;
        left: calc(50% - 56px/2);
        top: calc(50% - 56px/2 + 112.5px);
        background: #F67E7E;
        border-radius: 50%;
        padding-right: 3px;
        padding-top: 2px;
        position: absolute;
        top: 2.5rem;
    }

    &__list--last {
        position: absolute;
        top: 7.7rem;
        transform: rotate(89deg);

    }

    &__plus {
        text-decoration: none;
        font-size: 3.1rem;
        line-height: 8.6rem;
        left: calc(50% - 4px/2 + 10px);
        top: calc(50% - 16px/2 + 118.5px);
        transform: rotate(90deg);
        text-align: center;
        display: flex;
        align-items: center;
    }

    &__plus--tareta {
        font-weight: bold;
        width: 58.6px;
        height: 98.6px;
        font-size: 2.4rem;
        line-height: 3.6rem;
        left: calc(50% - 4px/2 + 10px);
        top: calc(50% - 16px/2 + 118.5px);
        transform: rotate(90deg);
        text-align: center;
        display: flex;
        align-items: center;

    }


    &__repo1 {
        margin-right: 1.6rem;
    }

}