.new {
    display: flex;
    height: 74.5rem;
    width: 100%;
    background-image: url(../../images/12.png), url(../../images/1234.png);
    background-repeat: no-repeat;
    background-size: 14.7rem 10rem, 20rem 10rem;
    background-position: left top, right bottom;


    @include respond(tablets) {
        height: 1199px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    &-tops {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond(tablets) {
            display: block;
        }
    }

    &-page {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        @include respond(tablets) {
            margin-bottom: 8rem;
        }
    }

    &-page--sass {
        @include respond(tablets) {
            margin-bottom: 0;
        }
    }

    &__content {
        margin-top: 3.2rem;

        @include respond(tablets) {
            margin-top: 1.6rem;
        }
    }

    &-heading {
        width: 95.2rem;
        margin-top: 14rem;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        justify-content: center;


        @include respond(tablets) {
            font-size: 3.9rem;
            line-height: 3.2rem;
            width: 57.3rem;
            align-items: center;
            display: inline-block;
            margin-top: 11rem;
        }
    }

    &-span {
        color: #C4FFFE;
    }

    &-tops {
        margin-top: 9.2rem;
    }

    &__text {
        width: 35rem;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        z-index: 3;

        @include respond(tablets) {
            width: 57.3rem;
        }
    }

    &__text--and {
        width: 730px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    &__name {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #79C8C7;
        margin-top: 2.2rem;
        margin-bottom: 2px;
    }

    &__name2 {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: #FFFFFF;
    }

    &__name2--meet {
        line-height: 2.5rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__name--meet {
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }

}

.new-page::before {
    content: "";
    display: inline-block;
    width: 6.7rem;
    height: 5.6rem;
    background-image: url(../../images/new.before.svg);
    background-size: 6.7rem 5.6rem;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    top: -3.6rem;
    right: 15rem;

    @include respond(tablets) {
        right: 32rem;
    }
}